<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Álbum de fotos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand logo" href="{{ url_for('index') }}"><img src="static/fotos/camera.gif" alt="Pareja"/> Tatan & Malú</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fotos') }}">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">Cargar</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main>

    <script src="https://kit.fontawesome.com/7d0f0e43b8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+ZYmWIljM1yMj3gjV9W6a5JR0EjAfFOE5aP4SQiqBfYjM1peI5aFbXJVoW
      crossorigin="anonymous"></script>
  </body>
</html>
