{% extends 'base.html' %} {% block title %}Álbum Fotográfico{% endblock %} {% block content
%} {% if fotos %}
  <div id="album">
    {% for foto in fotos %} {% if foto.state == 'A' %}
    <div class="foto">
      {% if foto.orientation == "Portrait" %}
      <img src="{{ foto.url }}" alt="{{ foto.name }}" width="300" height="400" />
      {% else %}
      <img src="{{ foto.url }}" alt="{{ foto.name }}" width="400" height="300" />
      {% endif %}
    </div>
    {% endif %} {% endfor %}
  </div>
{% else %}
<p>No hay fotos para mostrar.</p>
{% endif %} {% endblock %}