{% extends 'base.html' %}

{% block title %}Cargar foto{% endblock %}

{% block content %}
<h1>Cargar foto</h1>
<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="file">Seleccionar Foto:</label>
      <input type="file" class="form-control-file" id="files" name="files" required multiple>
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cargar Foto</button>
  </form>
{% endblock %}
